body {
    background-image: url('../img/IMG_27381.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
    height: 100vh; /* Sets the height to 100% of the viewport height */
    width: 100vw; /* Sets the width to 100% of the viewport width */
}
@media (max-width: 768px) {
    body {
        background-size: cover; /* Adjust as needed */
        background-position: center;
        
    }
}