* {
    font-family:cursive;
}
h1{
    background-color: rgb(181, 164, 164);
    width: fit-content;
}
h2 {
    background-color: rgb(181, 164, 164);
    width: fit-content;
}
h3 {
    background-color: rgb(181, 164, 164);
    width: fit-content;
    font-size: 14pt;
    line-height: 1.2;
    padding:0;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h4 {
    text-align: right;
    font-size: 11pt;
    line-height: 1.2;
    padding:0;
    margin-bottom: 0.5em;
    margin-top: 0;
}
p {
    font-size: 11pt;
    background-color: rgb(181, 164, 164);
    text-align: justify;
    width: fit-content;
    line-height: 1.4em;
}
p.button-top {
    margin: 10px;
    border: 2px solid #562313;
    padding: 5px;
    background-color: #ebe5cfb3;
}

img {
    vertical-align: middle;
}
.outer-block {
    border: 2px solid #562313;
    padding: 10px;
    background:hsla(16, 15%, 69%, 0.1);
    max-width: 900px;
    width: fit-content;
    box-sizing: border-box;
    word-wrap: break-word;
}
.text-block {
    border: 1px solid #562313;
    padding: 5px;
    margin:10px;
    background:hsla(16, 15%, 69%, 0.3);
    max-width: 90%;
    width: fit-content;
    box-sizing: content-box;
    word-wrap: break-word;
    block-size:auto;
}

